doc/build
build
Custom.cmake
CMakeLists.txt.user
*.swp
*.kate-swp
android/obj
.idea/
*.orig
*.autosave
*~
doc/internal/master.pdf
doc/internal/master.out
doc/internal/master.synctex.gz
doc/internal/master.toc
doc/internal/master.aux
doc/internal/introduction.log
doc/internal/master.log
doc/internal/testing.log
doc/internal/title.log
testing/bdd/build
testing/releaseanalyzer/bin
testing/releaseanalyzer/build
testing/releaseanalyzer/release
tools/releaseanalyzer/settings.xml
.vimrc
.ycm_*
tags
GTAGS
GPATH
GRTAGS
GSYMS
.vagrant
__pycache__
